* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.list {
    margin: 30px 80px;
    padding: 40px;
    background-color: rgba(68, 140, 199, 0.5);
    border: 1px solid black;
    border-radius: 10px;
}

.fonthead {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
}

.line {
    border: 1px solid black;
}

ul {
    list-style: none; 
}

li {
    padding: 15px;
}

ul li {
    position: relative;
    padding-left: 50px;
}

ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0%;
    width: 40px;
    height: 40px;
    background-image: url('images/pfp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.homepage {
    border: 1px solid black;
    margin: 20px;
    width: 80px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0px;
    position: relative;
    left: 3%;
}

.homepage:hover {
    cursor: pointer;
    transform: scale(105%);
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
    color: black;
}
